<div id="take-survey">

  <h2><%=@survey.title%></h2>

  <form action='/survey/<%="#{@survey.id}"%>' method="POST">
    <%@survey.questions.each do |q|%>
      <h3><%=q.question%></h3>
      <% q.options.each do |opt|%>
        <input type="radio" name='<%="#{opt.id}"%>' value='<%="#{opt.option}"%>'><%=opt.option%><br>
      <%end%>
    <%end%>
      <input type="submit" name="submit">
    </form>
<p>

</div>
