<div id="take-survey">

  <h2><%=@survey.title%></h2>

  <%@survey.questions.each do |q|%>
    <h3><%=q.question%></h3>
    <% q.options.each do |opt|%>
      <input type="radio" name='<%="#{q.id}"%>' value='<%="#{opt.option}"%>'><%=opt.option%><br>
    <%end%>
  <%end%>
</div>
